.header{
  display: flex;
  justify-content: center;
  text-align: center;
}

.titleImage{
  position: absolute;
  z-index: 2;
  margin-top: 45px;
}
.timeImage{
  position: relative;
  z-index: 1;
}

